*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    display: flex;
    align-items: center;
    background-color: rgb(2, 2, 51);
    height: 100px;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
}
nav a p{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.text1{
    margin-right: 100px;
}
.text3{
    margin-left: 100px;
}
main{
    margin-top: 70px;
}
.pho{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}
.h1ho{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}